<div class="card_for_cv" style="padding: 0.75rem; margin-top: 1rem; margin-bottom: 1rem; text-align: center;">  
<h2 id="comments-and-feedback" style="text-align: center; margin-top: 1rem; margin-bottom: 0.5rem; color: var(--global-heading-color)">What do you think?</h2>

<p style="text-align: center; font-size: 1.0rem;">Submit your thoughts on this post and/or your solutions to the challenge using:</p>
<ul style="text-align: left; display: inline-block; margin-top: 0.0rem; margin-bottom: 0.5rem; font-size: 1.0rem;">
        <li>the comment box below, or</li>
        <li><a href="https://forms.gle/EmVV6eyZT8Nc1vgf7">Google form</a> (for anonymous feedback), or</li>
        <li><a href="mailto:hdoMRIphysics@gmail.com">Email</a></li>
</ul>

<hr>

<script src="https://giscus.app/client.js"
        data-repo="hdocmsu/hdoMRIphysics_giscus"
        data-repo-id="R_kgDORaBXOQ"
        data-category="hdoMRIphysics_giscus"
        data-category-id="DIC_kwDORaBXOc4C3TnI"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark_dimmed"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
</div>