---
layout: default
---

<div class="post">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-description" style="font-size: 1.0rem; color: var(--global-post-description-color);">{{ page.description }}</p>
  </header>

  <article class="post-content">
    {{ content }}

  </article>

  <!-- Substack Subscribe -->
  {% if page.substack %}
    <center> 
      {% include substack.html %}
    </center>
  {% endif %}

  {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
  {% endif %}
  
</div>