---
layout: default
---

<div class="post">
 
    <!-- <header class="post-header">
    <h2 class="post-title">
     {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h2>
     <p class="post-description">{{ page.description }}</p>
  </header> -->
  
  <header class="post-header">
    <h2 class="post-title">
     {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h2>
  <center>
     <p class="post-description" style="font-size: 1.0rem; color: #98C8C8; font-weight: 450;">{{ page.description }}</p>
  </center>
</header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        {% responsive_image_block %}
          path: {{ page.profile.image | prepend: 'assets/img/' }}
          class: "img-fluid z-depth-1 rounded"
          alt: {{ page.profile.image }}
        {% endresponsive_image_block %}
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.toc and page.toc.beginning %}
    <div id="table-of-contents">
      {% toc %}
    </div>
    <hr>
    {% endif %}
    
    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

    {% if page.substack %}
    <!-- Substack Subscribe -->
    <center> 
      {% include substack.html %}
    </center>
    {% endif %}
    
    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>




</div>
